.current-status {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    background-color: #00b4d2;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    color: white;
}

.current-status__index > h1 {
    font-size: 20px;
}

.current-status__index > h2 {
    font-size: 16px;
}
.current-status__achievement-rate > p {
    margin: auto 0 auto auto;
    background-color: #d28700;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}